<ul *ngIf="items.length > 0">
    <li *ngFor='let item of items' class='flex border-b border-gray-200 hover:bg-gray-50'>
        <div class='flex grow p-4 gap-2 items-center select-none cursor-pointer'>
            <span (click)='toggleComplete(item.id)' class='text-xl'>{{ item.completed ? '◈' : '◇'}}</span>
            <span (click)='toggleComplete(item.id)' [class.line-through]='item.completed'
                class="{{item.completed ? 'flex flex-grow text-gray-400 line-through' : 'flex flex-grow'}}">
                {{ item.description }}
            </span>
        </div>
        <button (click)='removeItem(item.id)'
            class='px-4 text-red-400 font-bold cursor-pointer hover:bg-red-100'>✕</button>
    </li>
</ul>
